bin
obj

Content/css
Content/email_templates
Content/font-awesome
Content/fonts
Content/js
Content/LESS

*.suo
*.user
*.sln.docstates

[Dd]ebug/
[Rr]elease/

*.obj
*.pdb

_ReSharper*

Thumbs.db
Desktop.ini