@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Otobus Bilet Uygulamasi</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h1> Otobus Bilet Uygulamasi </h1>


    @RenderBody()

    @Scripts.Render("~/Scripts")
</body>
</html>